@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}

html, body {
    height: 100%;
    width: 100%;
}

* {
    font-family: Helvetica, sans-serif;
}

body,
.logo-box,
.img-place,
.form-actions {
    display: flex;
}

body {
    margin: 0;
}

.img-place {
   flex: 1;
   position: relative;
   overflow: hidden;
   justify-content: center;

}

.img-place img[alt="background image"] {
    height: 100%;
}

.img-place .logo-box {
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-box {
    width: 100%;
}

.logo-box .logo-name {
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 64px;
    margin: 0;
    padding: 0;
}

.logo-box img[alt="logo"] {
    height: inherit;
}

p.cite,
p.cite a {
    color: rgba(255, 255, 255, 0.5);
}

p.cite {
    position: absolute;
    margin: 0;
    bottom: 3px;
}

.form-actions {
    flex: 2;
    flex-direction: column;
    justify-content: center;
    /* background-color: #1F1D36;
    color: aliceblue; */
}

.welcome {
    font-size: 20px;
    font-weight: bold;
    padding: 36px;
    margin-bottom: 28px;
}

.personal-info {
    padding: 36px;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    box-shadow: 0px 5px 7px #E5E7EB;
}