:root {
    --color-valid: #E5E7EB;
}

@font-face {
    font-family: norse-bold;
    src: url(assets/Norse-Bold.otf);
}

html, body {
    height: 100%;
    width: 100%;
}

* {
    font-family: Helvetica, sans-serif;
}

body,
.logo-box,
.img-place,
.form-actions,
.form-row,
.form-item {
    display: flex;
}

body {
    margin: 0;
}

.img-place {
   flex: 1;
   position: relative;
   overflow: hidden;
   justify-content: center;
   min-width: 200px;

}

.img-place img[alt="background image"] {
    height: 100%;
}

.img-place .logo-box {
    position: absolute;
    top: 20%;
    background-color: rgba(0, 0, 0, 0.4);
    height: 100px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.logo-box {
    width: 100%;
}

.logo-box .logo-name {
    color: #fff;
    font-family: norse-bold, sans-serif;
    font-size: 64px;
    margin: 0;
    padding: 0;
}

.logo-box img[alt="logo"] {
    height: inherit;
}

p.cite,
p.cite a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
}

p.cite {
    position: absolute;
    margin: 0;
    bottom: 5px;
}

.form-actions {
    flex: 2;
    flex-direction: column;
    justify-content: center;
}

.welcome {
    font-size: 20px;
    font-weight: bold;
    padding: 36px;
    margin-bottom: 28px;
}

.personal-info {
    padding: 36px;
    border-top: 1px solid #E5E7EB;
    border-bottom: 1px solid #E5E7EB;
    box-shadow: 0px 5px 7px #E5E7EB;
    margin-bottom: 36px;
}

.form-row {
    gap: 16px;
    justify-content: flex-start;
    margin-bottom:12px;
}

.form-item {
    flex-direction: column;
    flex: 1;
}

.form-item label {
    font-size: 14px;
    font-weight: 600;
}

.form-item input {
    font-size: 20px;
    border: 1px solid var(--color-valid);
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px 10px;
    outline: none;
}

.form-item input::placeholder {
    color: #bdbdc0;
}

.form-item input:focus {
    box-shadow: 2px 2px 7px #bdbdc0;
    border: 1px solid blue;
    transition: .5s;
    -webkit-transition: 0.5s;
}

.form-item input:invalid {
    --color-valid: red;
}

.error:invalid {

}

button.signup {
    padding: 12px 42px;
    font-weight: bold;
    font-size: 15px;
    background-color: #064663;
    border: none;
    border-radius: 5px;
    color: #E5E7EB;
    margin-left: 36px;
}

button.signup:hover {
    background-color: #0F3460;
}

button.signup:focus {
    background-color: #041C32;
}

.login {
    margin-left: 36px;
    font-weight: 600;
}

.login a {
    text-decoration: none;
    color: #064663;
}